<div class="jumbotron">
    <h1>Cheeriongoose</h1>
    <h2><a class="pft" href="https://profootballtalk.nbcsports.com/">Pro Football Talk</a> Top Story Scraper</h2>
    <button id="scrape" type="button" class="btn btn-success">Scrape Most Current</button>
    </div>
<div id="artles" class="card">

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Link</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody class="table-striped">
            {{#each article}}
            <tr id="articles">
                <td class="title">{{title}}</td>
                <td class="link"><a href="{{link}}">{{link}}</a></td>
                <td><button id="delete" type="button" class="btn btn-danger danger" data-id={{this._id}}>Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>